.row {
  margin-left: 50px;
  color: #fff;
}

.row h2 {
  margin-bottom: 10px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}
