.hero-video {
  position: relative;
  height: 90vh;
  background-color: hsl(111, 11%, 87%);
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 0 50px 50px 50px;
  overflow: hidden;
}

.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

.hero-video-overlay h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-video-overlay p {
  width: 50%;
  margin-bottom: 20px;
  font-size: 18px;
}

.hero-video-buttons button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.hero-video-buttons .play-btn {
  background-color: #fff;
  color: #000;
}

.hero-video-buttons .info-btn {
  background-color: rgba(109, 109, 110, 0,7);
  color: #fff;
}
