.row {
  margin-left: 20px;
  color: #fff;
}

.row__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0;
  scrollbar-width: none;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__item {
  margin-right: 10px;
  transition: transform 0.3s;
}

.row__poster-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.row__poster {
  width: 150px;
  max-height: 225px;
  object-fit: cover;
  border-radius: 5px;
}

.row__posterLarge {
  width: 200px;
  max-height: 300px;
}

.row__hover-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 0 0 5px 5px;
}

.row__poster-container:hover .row__hover-overlay {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay__content {
  width: 80%;
}

.overlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
